.top-bar {
  height: 40px;
  background-color: #544f4b;

  &__container {
    margin: auto;
    max-width: $max-width;
  }

  &__list {
    float: right;

    &--item {
      height: 40px;
      width: 140px;
      color: #fff;
      font-size: 0.7rem;
      line-height: 40px;
      text-align: center;
      border-left: 1px solid #544f4b;
      background-color: #706760;
      cursor: pointer;
      transition: background-color 0.2s ease-in-out;

      &:hover {
        background-color: #6d5b4c;
      }

      &.active {
        background-color: #f38256;
      }
    }
  }
}